<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="user">
            <img class="profile" src="/img/Adil.jpeg" alt="Adil Ahamad">
            <p class="username">Adil Ahamad</p>
        </div>
        <p class="aboutApp">This is a weather app, which are helps to check your weather forecasting by giving your location. In this app we are use two third-party services first one is Mapbox which are help to resolve your location with latitude and longitude and second one is Open Weather, which are help to give current forecasting of given location. </p>
    </div>
    
    {{>footer}}
</body>
</html>